.detalle-actividad h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .card-header {
    font-weight: bold;
  }
  
  .table-bordered {
    margin-bottom: 0;
  }
  
  .nav-tabs .nav-link {
    font-weight: bold;
  }
  
  .nav-tabs .nav-link.active {
    background-color: #007bff;
    color: white;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  