/* Ajustes generales para el layout */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color:#1976d2; /* Ajustar color si es necesario */
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Asegúrate de que el header esté por encima */
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.main-content {
  margin-top: 64px; /* Compensar la altura del AppBar */
}

.body-content {
  padding: 20px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.map-section {
  height: 500px; /* Tamaño definido para el contenedor */
  position: relative;
  overflow: hidden; /* Previene desbordamiento */
}

.map-container {
  height: 100%; /* Ocupa todo el alto del contenedor padre */
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
  border-radius: 10px; /* Opcional: bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra para diseño */
}
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #e8e8e8, #f0f0f0);
}

.app-page {
  height: auto;
}
