.slider-button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.filter-slider {
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.map-container {
  height: 600px;
  border-radius: 10px;
}
