.filter-panel-floating {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 300px;
  z-index: 1000;
}

.map-section {
  margin-left: 320px; /* Ajusta el margen para que no se solape con el filtro */
  height: 60vh;
}

.card-header {
  text-align: center;
  font-size: 1.2rem;
}

.card-body {
  padding: 15px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
